<div class="container">
  <%= form_for(device) do |f| %>
    <% if device.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>
        <ul>
          <% device.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :id_code %>
                  <abbr class="text-danger">*</abbr>
                  <%= f.text_field :id_code, class: "form-control" %>
                    <small class="form-text text-muted">Unique string</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :name %>
                  <abbr class="text-danger">*</abbr>
                  <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :category %>
                  <%= f.select(:category_id, @category, {} , { class: "form-control" })  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :price %>
                  <abbr class="text-danger">*</abbr>
                  <%= f.text_field :price, rows: 20, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :vendor %>
                  <%= f.select(:vendor_id, @vendor, {}  , { class: "form-control" })  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :status %>
                  <%= f.check_box :status,  class: "form-control"    %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :location %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= f.select(:location, Device::LOCATIONS, {}, { class: "form-control" }) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :date %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="form-inline">
                    <%= f.date_select(:date,{}, { class: "form-control inline-block"}) %>
                  </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
</div>
</div>
</form>
<% end %>
</div>