<div class="container">
<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_control">
  <div class="field row">
    <div class="col-sm-2"><%= f.label :id_code %></div>
    <div class="col-sm-4"><%= f.text_field :id_code %> </div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :name %></div>
    <div class="col-md-4"><%= f.text_field :name, rows: 20 %></div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :price %></div>
    <div class="col-md-4"><%= f.text_field :price, rows: 20 %></div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :vendor %></div>
    <div class="col-md-4"><%= f.text_field :vendor, rows: 20 %></div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :status %></div>
    <div class="col-md-4"><%= f.check_box :status %></div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :location %></div>
    <div class="col-md-4"><%= f.collection_select :location, Value::LOCATIONS, :to_s , :to_s , :include_blank => true %> </div>
  </div>

  <div class="field row">
    <div class="col-md-2"><%= f.label :date %></div>
    <div class="col-md-4"><%= f.date_select :date %></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
</div>