<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Device_Code:</strong>
  <%= @device.id_code %>
</p>

<p>
  <strong>Device_Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Device_Price:</strong>
  <%= @device.price %>
</p>

<p>
  <strong>Device_Vendor:</strong>
  <%= @device.vendor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @device.status %>
</p>

<p>
  <strong>Device_Location:</strong>
  <%= @device.location %>
</p>

<p>
  <strong>Import_Date:</strong>
  <%= @device.date %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
</div>