<p id="notice"><%=notice%></p>

<div class="container">
<h1>STATUS DEVICES IN BOX</h1>



	<div class="entry">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Thang : <%= Date.today.month %></th>
						<th></th>
				</tr>

			</thead>

			<tbody>
				<% @devices.each do |device| %>
			
				<tr>
					<td> <%= device.name %></td>
					<td id='img_check'>
						<%= display_status(device.status)%>
					 </td>
					 <td> <%= link_to 'Edit', edit_device_path(device) %>
					 </td>
				</tr>
				<% end %>
			</tbody>

		</table>

	</div>

</div>
