<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <strong><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</strong>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :code %><abbr class="text-danger">*</abbr>
        <%= f.text_field :code, class: "form-control" %>
        <small class="form-text text-muted">Unique string</small>
      </div>
    </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :name %><abbr class="text-danger">*</abbr>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.select(:priority, Category::ORDERED_LIST, {}, { class: "form-control" }) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
