<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <%= link_to "#{image_tag('logo.png')}".html_safe  , status_index_path, {class: "navbar-brand"} %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMain" aria-controls="navMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="navbar-nav mr-auto">
   <% if user_signed_in? %>
          <li class="nav-item">
          </li>
          <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to "Devices", devices_path, {class: "nav-link"} %>
          </li>
          <li class="nav-item<%= request.original_url.include?('categories') ? ' active' : '' %>">
            <%= link_to "Categories", categories_path, {class: "nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to "Vendors", vendors_path, {class: "nav-link"} %>
          </li>
          <%end %>
          <!--   <li class="nav-item pull-right">
             
          </li> -->
            <% end %>
        </ul>
        <span class="color_mems pull-right">
     <% if user_signed_in? %>
                <div class = "nav-link" > Welcome
                  <%= current_user.name %> &nbsp
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </div>
                <% end %>
            </span>
      </div>
  </nav>
</div>