<!DOCTYPE html>
<html>
  <head>
    <title>Devices Of BOXSHOP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  		<div class="container">
  			<div class="navbar-header">

  				<a class="navbar-brand" href="localhost:3000/devices">
  					<%= image_tag 'logo.png',alt: 'BOXSHOP' %>
  				</a>
  				
  			</div>

  			<ul class="nav navbar-nav">
  				<li class="active"><a href="http://localhost:3000"> Home </a></li>
  				<li> <a href="http://localhost:3000/devices">List Devices</a></li>
  				<li> <a href="#">...</a> </li>
  			</ul>



  		</div>
  	</nav>
    <%= yield %>
  </body>

	<footer class="container-fluid bg-4 text-right">
  		<p>Boxshop Devices <a href="https://boxshop.vn">Boxshop.vn</a></p> 
	</footer>
</html>
a