<!DOCTYPE html>
<html>
  <head>
    <title>Devices Of BOXSHOP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  		<div class="container">
  			<div class="navbar-header">

  				<%= link_to image_tag('logo.png' , alt: 'Boxshop'), {action: 'index', controller: 'status'}, {class: "navbar-brand"} %> 
  				
  				
  			</div>

  			<ul class="nav navbar-nav">
  				<li class="active"><%= link_to "Home", status_index_path %> </li>
  				<li> <%= link_to "List", devices_path %> </li>
  				<li> <%= link_to "User", users_path %> </li>
  			</ul>



  		</div>
  	</nav>
    <%= yield %>
  </body>
	<footer class="container-fluid bg-4 text-right">
  		<p>Boxshop Devices <a href="https://boxshop.vn">Boxshop.vn</a></p> 
	</footer>
</html>
